# DONT UPLOAD YOUR FILE WITH THE GOOGLE KEY
cleanup_vision.py

# Don't upload photos or media 
*.jpg
*.mp4
# But we will allow png for when we make a blog

# no compiled python files 
*.pyc

# Don't upload jsons. under rare occasion we might want this
*.json

# scraper logs 
*.log

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
